* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  width: 748px;
  height: 748px;
  background: black;
  grid-template-columns: 320px 198px 153px 50px;
  grid-template-rows: 414px 130px 155px 20px;
  gap: 9px;
}

.red {
  background: #d32f2f;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.white1 {
  background: rgb(240, 241, 236);
  grid-column: 2 / 5;
  grid-row: 1 / 2;
}

.white2 {
  background: rgb(240, 241, 236);
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.white3 {
  background: rgb(240, 241, 236);
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.white4 {
  background: rgb(240, 241, 236);
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

.blue {
  background: blue;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  border-bottom: 10px solid black;
}

.white5 {
  background-color: rgb(240, 241, 236);
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.yelow {
  background-color: yellow;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
